.review-item{
    border: 1px solid lightblue;
    border-radius: 8px;
    padding: 8px;
    margin: 20px ;
    width: 550px;
    display: flex;
}
.review-item img{
    margin-right: 5px;
    width: 90px;
}
.review-item-details p{
    margin: 0;
}
.review-item-details-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.delete-container{
    display: flex;
    align-items: center;
}
.delete-button{
    background: rgb(255, 213, 135);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
.delete-icon{
    color: orangered;
    font-size: 27px;

}